body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
}

div {
	box-sizing: border-box;
}

header h2 {
	margin-top: 35px;
	float: left;
	font-size: 30px;
	color: #fff;
	text-transform: uppercase;;
}

header {
	height: 100px;
	background-color: #1E90FF;
}

.main p {
	color: #000;
	font-size: 16px;
	line-height: 1.55em;
	display: inline-block;
}

#main {
	background-color: #ECEDF1;
}

.main {
	width: 450px;
	padding-top: 10px;
	margin: 0 auto;
	text-align: left;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

nav {
	float: right;
	margin-top: 40px;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 41px;
	font-size: 14px
}

.menu a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
}

.container {
	width: 1000px;
	margin: 0 auto;
}
/**/

.button {
	background: #fed136;
	display: block;
	color: #484543;
	border-radius: 5px;
	width: 200px;
	padding: 10px 0;
	margin: 10px;
	margin-bottom: 0px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	float: left;
}

.title h1 {
	text-align: left;
	margin: 10px;
	margin-top: 0;
	font-size: 45px; 
}

.title h2 {
	text-align: left;
	text-decoration: none;
	font-weight: normal;
	color: #4E4E4E;
	margin: 10px;
}

.fields input {
	padding: 5px;
	margin: 10px;
}

.fields #warning {
	display: none;
	color: red;
	margin: 10px;
 }

.log_part {
	padding-left: 10px;
}

footer {
	font-size: 14px;
	text-align: center;
	padding-top: 150px;
}

/* {
	border: solid red 1px;
}